@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = ""}, FormMethod.Post, new { id = "logoutForm", @class = "" }))
    //using (Html.BeginForm("Index", "Home", new { area = "CaliforniaMegaMillions" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
    //using (Html.BeginForm("Index", "Home", new { area = "CaliforniaMegaMillions", checkType = "set" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))

    //using (Html.BeginRouteForm("Root", new { action = "LogOff", controller = "Account" }))


    //using (Html.BeginRouteForm("Logoff", new { controller = "Account", action = "LogOff" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*<li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>*@
        <li>@Html.RouteLink("Register", "Root", new { action="Register", controller= "Account" })</li>
        <li>@Html.RouteLink("Login", "Root", new { action = "Login", controller = "Account" })</li>
    </ul>
}
